<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>Servlet 2.3 deployment description</display-name>

    <welcome-file-list>
        <welcome-file>jsp/login.jsp</welcome-file>
    </welcome-file-list>








    <servlet>
        <servlet-name>addCar</servlet-name>
        <servlet-class>ru.yeroshenko.web.car.AddCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addCar</servlet-name>
        <url-pattern>/add-car</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>listCar</servlet-name>
        <servlet-class>ru.yeroshenko.web.car.ListCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listCar</servlet-name>
        <url-pattern>/list-car</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>changeTripStatus</servlet-name>
        <servlet-class>ru.yeroshenko.web.trip.ChangeTripStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changeTripStatus</servlet-name>
        <url-pattern>/change-trip-status</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>changeCarStatus</servlet-name>
    <servlet-class>ru.yeroshenko.web.car.ChangeCarStatusServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>changeCarStatus</servlet-name>
        <url-pattern>/change-car-status</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>deleteCar</servlet-name>
        <servlet-class>ru.yeroshenko.web.car.DeleteCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteCar</servlet-name>
        <url-pattern>/delete-car</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateCar</servlet-name>
        <servlet-class>ru.yeroshenko.web.car.UpdateCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateCar</servlet-name>
        <url-pattern>/update-car</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>addOrd</servlet-name>
        <servlet-class>ru.yeroshenko.web.ord.AddOrdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addOrd</servlet-name>
        <url-pattern>/add-ord</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>listOrd</servlet-name>
        <servlet-class>ru.yeroshenko.web.ord.ListOrdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listOrd</servlet-name>
        <url-pattern>/list-ord</url-pattern>
    </servlet-mapping>





    <servlet>
        <servlet-name>listTrip</servlet-name>
        <servlet-class>ru.yeroshenko.web.trip.ListTripServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listTrip</servlet-name>
        <url-pattern>/list-trip</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>ru.yeroshenko.web.user.LogInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>ru.yeroshenko.web.user.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>listOrdAssigned</servlet-name>
        <servlet-class>ru.yeroshenko.web.ord.ListOrdAssignedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listOrdAssigned</servlet-name>
        <url-pattern>/list-ord-assigned</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listOrdInTransit</servlet-name>
        <servlet-class>ru.yeroshenko.web.ord.ListOrdInTransitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listOrdInTransit</servlet-name>
        <url-pattern>/list-ord-in-transit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listOrdDone</servlet-name>
        <servlet-class>ru.yeroshenko.web.ord.ListOrdDoneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listOrdDone</servlet-name>
        <url-pattern>/list-ord-done</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listOrdInQueue</servlet-name>
        <servlet-class>ru.yeroshenko.web.ord.ListOrdInQueueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listOrdInQueue</servlet-name>
        <url-pattern>/list-ord-in-queue</url-pattern>
    </servlet-mapping>



    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>